
  body {
    background-color: #e1f4f3;
  }

  h1 {
    color: #66BFBF;
  }

  h3{
    color: #66BFBF;
  }
  hr {
    border-height: 0px;
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }

  img {
    width: 200px;
    height: 200px;
  }
